In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from re import sub
from decimal import Decimal


***

#### Cleaning up raw dataframe: erroneous 1st column name, missing year in Release Date, replace NaNs

In [8]:
##years = list(range(1977,2020))
years = list(range(1982,1983))
yr    = str(years[0])
df_raw = pd.read_csv(yr+'_movies_features_TEST.csv')

# rename erroneous 1st column:
df_raw.rename(columns={ df_raw.columns[0]: yr+' Rank' }, inplace = True)
df_new = pd.DataFrame()

# Add year for Release Date column
df_raw['Release Date'] = [i+' '+yr for i in df_raw['Release Date']]

# Replace NaNs
df_raw['Budget'] = df_raw['Budget'].fillna('0')
df_raw['MPAA']   = df_raw['MPAA'].fillna('0')

In [14]:
df_raw.head()

,1982 Rank,Release,Calendar Gross,Max Theaters,Total Gross,Release Date,Distributor,URL,Budget,Genres,MPAA
0,1,E.T. the Extra-Terrestrial,"$314,911,094","1,778","$359,197,037",Jun 11 1982,Universal Pictures\n\n,boxofficemojo.com/release/rl995132929/,"$10,500,000",Family Sci-Fi,PG
1,2,Raiders of the Lost Ark,"$190,360,115","1,078","$212,222,025",Jun 12 1982,Paramount Pictures\n\n,boxofficemojo.com/release/rl4083844609/,"$18,000,000",Action Adventure,PG
2,3,Rocky III,"$124,146,897","1,317","$124,146,897",May 28 1982,United Artists\n\n,boxofficemojo.com/release/rl3010233857/,0,Drama Sport,0
3,4,On Golden Pond,"$118,720,608","1,015","$119,285,432",Dec 4 1982,Universal Pictures\n\n,boxofficemojo.com/release/rl2320795137/,0,Drama,0
4,5,An Officer and a Gentleman,"$108,402,267","1,050","$129,795,554",Jul 30 1982,Paramount Pictures\n\n,boxofficemojo.com/release/rl423790081/,0,Drama Romance,0


***

#### Assign movies a unique numerical ID

In [3]:
movie_prefix = years[0]*10000

df_new['MovieID'] = [movie_prefix+int(i) for i in df_raw[yr+' Rank']]
#print(df_new)

      MovieID
0    19820001
1    19820002
2    19820003
3    19820004
4    19820005
5    19820006
6    19820007
7    19820008
8    19820009
9    19820010
10   19820011
11   19820012
12   19820013
13   19820014
14   19820015
15   19820016
16   19820017
17   19820018
18   19820019
19   19820020
20   19820021
21   19820022
22   19820023
23   19820024
24   19820025
25   19820026
26   19820027
27   19820028
28   19820029
29   19820030
..        ...
102  19820103
103  19820104
104  19820105
105  19820106
106  19820107
107  19820108
108  19820109
109  19820110
110  19820111
111  19820112
112  19820113
113  19820114
114  19820115
115  19820116
116  19820117
117  19820118
118  19820119
119  19820120
120  19820121
121  19820122
122  19820123
123  19820124
124  19820125
125  19820126
126  19820127
127  19820128
128  19820129
129  19820130
130  19820131
131  19820132

[132 rows x 1 columns]

In [4]:
df_raw.columns

Index(['1982 Rank', 'Release', 'Calendar Gross', 'Max Theaters', 'Total Gross',
       'Release Date', 'Distributor', 'URL', 'Budget', 'Genres', 'MPAA'],
      dtype='object')


***

#### Convert to numerical format: Gross box office values, # Theaters, Budget, and MPAA rating; fix datetime column

In [9]:
df_new['Calendar Gross'] = [Decimal(sub(r'[^\d.]', '', g)) for g in df_raw['Calendar Gross']]
df_new['Total Gross']    = [Decimal(sub(r'[^\d.]', '', g)) for g in df_raw['Total Gross']]
df_new['Max Theaters']   = [int(s.replace(',','')) for s in df_raw['Max Theaters']]

df_new['Budget'] = [int(s.replace('$','').replace(',','')) for s in df_raw['Budget']]

temp_R = [rating.replace('NC-17','5').replace('R','4').replace('PG-13','3').replace('PG','2').replace('G','1') for rating in df_raw['MPAA']]
df_new['MPAA_numeric'] = [int(i) for i in temp_R]

temp_DT = [datetime.strptime(date, '%b %d %Y') for date in df_raw['Release Date']]
df_new['Release Date'] = [item.strftime('%d-%m-%Y') for item in temp_DT]

# Append unchanged columns to new dataframe:
df_new[['Distributor','Genres']] = df_raw[['Distributor','Genres']]
display(df_new)

    Calendar Gross Total Gross  Max Theaters    Budget  MPAA_numeric
0        314911094   359197037          1778  10500000             2
1        190360115   212222025          1078  18000000             2
2        124146897   124146897          1317         0             0
3        118720608   119285432          1015         0             0
4        108402267   129795554          1050         0             0
5        105492483   105492483          1605         0             0
6         91089162    95461682           701         0             0
7         78912963    78912963          1621  11200000             2
8         73555425    76606280          1060         0             0
9         69701637    69701637          1435         0             0
10        58866893    58972904           810         0             0
11        49411223    57059003          1102         0             0
12        47212904    47212904          1054  15000000             0
13        46708276    46708276          1304         0             0
14        39565475    39565475          1683         0             0
15        39103425    39103425           660         0             0
16        36819776    40716963           994         0             0
17        36507611    40382659           644  32000000             0
18        36299720    36299720          1277         0             0
19        34581519    34581519          1079         0             0
20        33069358    42365581           821         0             0
21        32454772    35856053           792         0             0
22        31292899    35610100          1388         0             0
23        30940676   177200000          1222  21000000             0
24        30688860    30688860           796         0             0
25        29759462    33000000          1112  17000000             0
26        29712172    29712172           560         0             0
27        28215453    28215453           615         0             0
28        27580111    27580111          1325         0             4
29        27092880    27092880           713         0             0
..             ...         ...           ...       ...           ...
102        4646539    15782759           803         0             0
103        4593800     6118683           888         0             0
104        4484991     4484991           686         0             0
105        3986121     6328816           488         0             0
106        3969571     6668025           613         0             0
107        3792188     3792188           300         0             0
108        3583513     3583513           934         0             0
109        3491289     9171289           315         0             0
110        3465767     5672311           236         0             0
111        3355948     3355948          1104         0             0
112        3178542     3178542           198         0             0
113        2977706     2977706           228         0             0
114        2914328     2914328           262         0             0
115        2869638     2869638           877         0             0
116        2784432     5229643           900         0             0
117        2647497     6892098           437         0             0
118        2573342     2573342           650         0             0
119        2370376     2370376           550         0             0
120        1847543     7258543           248         0             0
121        1833129     2279543           424         0             0
122        1736123     1736123           187         0             0
123        1054328     1054328           300         0             0
124         946461      946461           303  17000000             4
125         636796      636796            41         0             0
126         527198     5829781           158         0             0
127         354190    30036000           548         0             0
128         285882    52767889           825         0             0
129         199078      199078             6         0             0
130         143369      143369             2         0             0
131          78350       78350            33         0             0

[132 rows x 5 columns]


***

In [ ]:
from datetime import datetime

In [ ]:
##df_raw['Release Date'] = [i+' '+yr for i in df_raw['Release Date']]

a = [datetime.strptime(date, '%b %d %Y') for date in df_raw['Release Date']]
#print(date_obj.strftime('%d-%m-%Y'))

In [ ]:
print(yr)

In [11]:

a = [datetime.strptime(date, '%b %d %Y') for date in df_raw['Release Date']]
b = [item.strftime('%d-%m-%Y') for item in a]
#print(a)
print(b)

['11-06-1982', '12-06-1982', '28-05-1982', '04-12-1982', '30-07-1982', '19-03-1982', '17-07-1982', '04-06-1982', '04-06-1982', '23-07-1982', '25-09-1982', '21-05-1982', '22-10-1982', '18-06-1982', '14-05-1982', '23-04-1982', '20-11-1982', '04-12-1982', '12-03-1982', '13-08-1982', '06-11-1982', '09-12-1982', '18-12-1982', '17-12-1982', '16-07-1982', '09-07-1982', '23-07-1982', '19-03-1982', '25-06-1982', '13-08-1982', '18-12-1982', '10-12-1982', '02-04-1982', '04-06-1982', '13-08-1982', '06-08-1982', '10-12-1982', '12-11-1982', '18-12-1982', '30-07-1982', '08-10-1982', '16-12-1982', '25-06-1982', '25-12-1982', '19-03-1982', '16-07-1982', '21-05-1982', '10-12-1982', '16-07-1982', '21-05-1982', '17-12-1982', '23-07-1982', '12-02-1982', '17-12-1982', '11-06-1982', '13-08-1982', '20-11-1982', '22-10-1982', '05-03-1982', '20-08-1982', '19-11-1982', '28-05-1982', '22-01-1982', '18-06-1982', '10-12-1982', '28-08-1982', '24-09-1982', '02-07-1982', '22-10-1982', '12-02-1982', '19-02-1982', '22-01-1982', '12-02-1982', '10-02-1982', '02-04-1982', '29-10-1982', '04-06-1982', '16-07-1982', '23-04-1982', '22-01-1982', '05-02-1982', '06-08-1982', '12-02-1982', '11-12-1982', '02-12-1982', '17-12-1982', '05-11-1982', '02-04-1982', '26-03-1982', '19-11-1982', '05-03-1982', '05-11-1982', '30-04-1982', '25-06-1982', '07-05-1982', '12-02-1982', '30-07-1982', '17-09-1982', '19-11-1982', '03-09-1982', '17-12-1982', '12-11-1982', '24-12-1982', '29-01-1982', '17-12-1982', '13-08-1982', '17-12-1982', '01-10-1982', '14-05-1982', '11-12-1982', '05-02-1982', '21-05-1982', '02-04-1982', '23-07-1982', '27-08-1982', '22-10-1982', '29-01-1982', '12-02-1982', '29-10-1982', '02-04-1982', '11-12-1982', '24-09-1982', '19-02-1982', '22-10-1982', '08-10-1982', '12-02-1982', '06-08-1982', '10-12-1982', '10-12-1982', '12-11-1982', '28-05-1982', '19-11-1982']

In [13]:
df_new.head()

,Calendar Gross,Total Gross,Max Theaters,Budget,MPAA_numeric,Release Date
0,314911094,359197037,1778,10500000,2,11-06-1982
1,190360115,212222025,1078,18000000,2,12-06-1982
2,124146897,124146897,1317,0,0,28-05-1982
3,118720608,119285432,1015,0,0,04-12-1982
4,108402267,129795554,1050,0,0,30-07-1982

In [15]:
# Append unchanged columns to new dataframe:
df_new[['Distributor','Genres']] = df_raw[['Distributor','Genres']]
display(df_new)

,Calendar Gross,Total Gross,Max Theaters,Budget,MPAA_numeric,Release Date,Distributor,Genres
0,314911094,359197037,1778,10500000,2,11-06-1982,Universal Pictures\n\n,Family Sci-Fi
1,190360115,212222025,1078,18000000,2,12-06-1982,Paramount Pictures\n\n,Action Adventure
2,124146897,124146897,1317,0,0,28-05-1982,United Artists\n\n,Drama Sport
3,118720608,119285432,1015,0,0,04-12-1982,Universal Pictures\n\n,Drama
4,108402267,129795554,1050,0,0,30-07-1982,Paramount Pictures\n\n,Drama Romance
5,105492483,105492483,1605,0,0,19-03-1982,Twentieth Century Fox\n\n,Comedy
6,91089162,95461682,701,0,0,17-07-1982,Warner Bros.\n\n,Comedy Romance
7,78912963,78912963,1621,11200000,2,04-06-1982,Paramount Pictures\n\n,Action Adventure Sci-Fi
8,73555425,76606280,1060,0,0,04-06-1982,Metro-Goldwyn-Mayer (MGM)\n\n,Horror Thriller
9,69701637,69701637,1435,0,0,23-07-1982,Universal Pictures\n\n,Comedy Musical
10,58866893,58972904,810,0,0,25-09-1982,Columbia Pictures\n\n,Biography Drama Sport
11,49411223,57059003,1102,0,0,21-05-1982,Columbia Pictures\n\n,Comedy Drama Family Musical
12,47212904,47212904,1054,15000000,0,22-10-1982,Orion Pictures\n\n,Action Adventure
13,46708276,46708276,1304,0,0,18-06-1982,Warner Bros.\n\n,Action Adventure Thriller
14,39565475,39565475,1683,0,0,14-05-1982,Universal Pictures\n\n,Action Adventure Fantasy
15,39103425,39103425,660,0,0,23-04-1982,-,Action Adventure Fantasy Horror
16,36819776,40716963,994,0,0,20-11-1982,Columbia Pictures\n\n,Drama Romance Thriller
17,36507611,40382659,644,32000000,0,04-12-1982,Paramount Pictures\n\n,Biography Drama History Romance
18,36299720,36299720,1277,0,0,12-03-1982,Columbia Pictures\n\n,Comedy
19,34581519,34581519,1079,0,0,13-08-1982,Paramount Pictures\n\n,Horror Thriller
20,33069358,42365581,821,0,0,06-11-1982,Embassy Pictures\n\n,Adventure Comedy Fantasy Sci-Fi
21,32454772,35856053,792,0,0,09-12-1982,Twentieth Century Fox\n\n,Drama
22,31292899,35610100,1388,0,0,18-12-1982,Warner Bros.\n\n,Action Crime Drama Thriller
23,30940676,177200000,1222,21000000,0,17-12-1982,Columbia Pictures\n\n,Comedy Drama Romance
24,30688860,30688860,796,0,0,16-07-1982,Twentieth Century Fox\n\n,Comedy
25,29759462,33000000,1112,17000000,0,09-07-1982,Walt Disney Studios Motion Pictures\n\n,Action Adventure Sci-Fi
26,29712172,29712172,560,0,0,23-07-1982,Warner Bros.\n\n,Comedy Drama
27,28215453,28215453,615,0,0,19-03-1982,Metro-Goldwyn-Mayer (MGM)\n\n,Comedy Music Romance
28,27580111,27580111,1325,0,4,25-06-1982,Warner Bros.\n\n,Action Sci-Fi Thriller
29,27092880,27092880,713,0,0,13-08-1982,Universal Pictures\n\n,Comedy Drama
...,...,...,...,...,...,...,...,...
102,4646539,15782759,803,0,0,24-12-1982,Twentieth Century Fox\n\n,Comedy Fantasy Romance
103,4593800,6118683,888,0,0,29-01-1982,Universal Pictures\n\n,Crime Drama
104,4484991,4484991,686,0,0,17-12-1982,Warner Bros.\n\n,Comedy Drama Music Western
105,3986121,6328816,488,0,0,13-08-1982,Embassy Pictures\n\n,Action Adventure Thriller
106,3969571,6668025,613,0,0,17-12-1982,Universal Pictures\n\n,Drama
107,3792188,3792188,300,0,0,01-10-1982,Paramount Pictures\n\n,Comedy Music Sci-Fi
108,3583513,3583513,934,0,0,14-05-1982,Columbia Pictures\n\n,Comedy Drama Thriller
109,3491289,9171289,315,0,0,11-12-1982,Metro-Goldwyn-Mayer (MGM)\n\n,Drama Musical Romance
110,3465767,5672311,236,0,0,05-02-1982,Warner Bros.\n\n,Drama Sport
111,3355948,3355948,1104,0,0,21-05-1982,Paramount Pictures\n\n,Action Crime Drama
112,3178542,3178542,198,0,0,02-04-1982,Metro-Goldwyn-Mayer (MGM)\n\n,Crime Drama Sport
113,2977706,2977706,228,0,0,23-07-1982,Embassy Pictures\n\n,Action Drama
114,2914328,2914328,262,0,0,27-08-1982,-,Comedy Drama
115,2869638,2869638,877,0,0,22-10-1982,Metro-Goldwyn-Mayer (MGM)\n\n,Comedy
116,2784432,5229643,900,0,0,29-01-1982,Paramount Pictures\n\n,Horror Thriller
117,2647497,6892098,437,0,0,12-02-1982,Twentieth Century Fox\n\n,Crime Thriller
118,2573342,2573342,650,0,0,29-10-1982,Paramount Pictures\n\n,Comedy Documentary
119,2370376,2370376,550,0,0,02-04-1982,Universal Pictures\n\n,Comedy Romance
120,1847543,7258543,248,0,0,11-12-1982,Metro-Goldwyn-Mayer (MGM)\n\n,Comedy
121,1833129,2279543,424,0,0,24-09-1982,Metro-Goldwyn-Mayer (MGM)\n\n,Comedy Musical
122,1736123,1736123,187,0,0,19-02-1982,Universal Pictures\n\n,Western
123,1054328,1054328,300,0,0,22-10-1982,Paramount Pictures\n\n,Drama Horror Sci-Fi Thriller
124,946461,946461,303,17000000,4,08-10-1982,Paramount Pictures\n\n,Comedy
125,636796,636796,41,0,0,12-02-1982,Columbia Pictures\n\n,Drama Musical Romance
126,527198,5829781,158,0,0,06-08-1982,Cannon Film Distributors\n\n,Comedy Drama Romance
127,354190,30036000,548,0,0,10-12-1982,Universal Pictures\n\n,Drama Romance
128,285882,52767889,825,0,0,10-12-1982,Columbia Pictures\n\n,Biography Drama History
129,199078,199078,6,0,0,12-11-1982,Warner Bros.\n\n,Drama
130,143369,143369,2,0,0,28-05-1982,Warner Bros.\n\n,Comedy Crime Drama
131,78350,78350,33,0,0,19-11-1982,Warner Bros.\n\n,Adventure Animation Comedy Family Music